@model Product

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mehsul</h4>

                <form class="form-sample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mehsul Adi :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @Model.Name
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Kateqoriya :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @Model.Category?.Name
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Qiymet :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @Model.Price
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Say :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @Model.Count
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Foto :</label>
                                <div style="width:35%;height:35%;border-radius:100%;" class="col-sm-9">
                                    <img src="~/AdminPanel/img/product/@Model.Image" style="width:35%;height:35%;border-radius:100%;" class="mr-2" alt="image">
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <p class="card-description">
                        Mehsul Detallari
                    </p>
                    @if (Model.ProductDetails != null)
                    {
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Aktiv? :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @(Model.ProductDetails.Availability? "Movcuddur" : "Movcud Deyil")
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Ceki :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @(Model.ProductDetails?.Weight == null? "---" : Model.ProductDetails.Weight)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Reyting :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @(Model.ProductDetails?.StarCount == null? "---" : Model.ProductDetails.StarCount)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Haqqinda :</label>
                                <div class="col-sm-9">
                                    <p class="form-control">
                                        @(Model.ProductDetails?.Description == null? "---" : Model.ProductDetails.Description)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }else
                    {
                        <p>
                            Bu mehsulun detaillari yoxdur...
                        </p>
                    }
                    
                    
                    <a asp-action="List" asp-controller="Product" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>

</div>