@model (Blog dto, BlogDetail detail, List<Owner> owners, List<Blog> Blogs, List<Blog> blogdetalist)

@{ 
    int count = 1;  
    int detacount = 1;  
}

@* Blog *@
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Blog Elave Etmek</h4>
                <form asp-action="Create" asp-controller="Blog" asp-area="AdminPanel" class="form-sample" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Basliq Adi :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.dto.Title" type="text" class="form-control" placeholder="Basliq adini yazin..." />
                                    <span asp-validation-for="@Model.dto.Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Owner :</label>
                                <div class="col-sm-9">
                                    <select asp-for="@Model.dto.OwnerId" class="form-control" asp-items="@(new SelectList(Model.owners,"Id","Fullname"))" >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Foto :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.dto.Photo" class="form-control" >
                                    <span asp-validation-for="@Model.dto.Photo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="List" asp-controller="Blog" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog'a Baxis</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <td>
                                    Foto
                                </td>
                                <th>
                                    Basliq
                                </th>
                                <th>
                                    Owner
                                </th>
                                <th>
                                    EDIT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var BlogDto in Model.Blogs.Take(5))
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                     <td class="py-1">
                                        <img src="~/AdminPanel/img/blog/@BlogDto.Image" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @BlogDto.Title
                                    </td>
                                   
                                    <td>
                                        @BlogDto.Owner?.Fullname
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Blog" asp-area="AdminPanel" asp-route-id="@BlogDto.Id"><i class="bi bi-card-list"></i></a>
                                        <a asp-action="Update" asp-controller="Blog" asp-area="AdminPanel" asp-route-id="@BlogDto.Id"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-action="Delete" asp-controller="Blog" asp-area="AdminPanel" asp-route-id="@BlogDto.Id"><i class="bi bi-x-square"></i></a>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@* Blog Details *@
<div class="row">
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">Blog Detali Elave Etmek</h4>
                <form asp-action="Create" asp-controller="BlogDetail" asp-area="AdminPanel" class="forms-sample" method="post">
                    <div class="form-group row">
                        <label asp-for="detail.BlogId" class="col-sm-3 col-form-label">Mehsul :</label>
                        <div class="col-sm-9">
                            <select asp-for="detail.BlogId" asp-items="@(new SelectList(Model.blogdetalist,"Id","Title"))" class="form-control">
                            </select>
                            <span class="text-danger" asp-validation-for="detail.BlogId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="detail.CategoryName" class="col-sm-3 col-form-label">CategoryName :</label>
                        <div class="col-sm-9">
                            <input asp-for="detail.CategoryName" type="text" class="form-control" id="exampleInputEmail2">
                            <span class="text-danger" asp-validation-for="detail.CategoryName"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="detail.Tags" class="col-sm-3 col-form-label">Tags :</label>
                        <div class="col-sm-9">
                            <input asp-for="detail.Tags" type="text" class="form-control" id="exampleInputEmail2">
                            <span class="text-danger" asp-validation-for="detail.Tags"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="detail.Description" class="col-sm-3 col-form-label">Haqqinda :</label>
                        <div class="col-sm-9">
                            <textarea asp-for="detail.Description" type="text" class="form-control" id="exampleInputEmail2">
                            </textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="List" asp-controller="Blog" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Detallari</h4>
                <div class="mt-auto">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Basliq</th>
                                    <th>Kateq. Adi</th>
                                    <th>Tags</th>
                                    <th>EDIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Blogs.Take(5))
                                {
                                    <tr>
                                        <td>@detacount</td>
                                        <td>@item.Title</td>
                                        <td>@(item.BlogDetails?.CategoryName == null? "---" : item.BlogDetails.CategoryName)</td>
                                        <td>@(item.BlogDetails?.Tags == null? "---" : item.BlogDetails.Tags)</td>
                                        <td>
                                            <a asp-action="Update" asp-controller="BlogDetail" asp-area="AdminPanel" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                            <a asp-action="Delete" asp-controller="BlogDetail" asp-area="AdminPanel" asp-route-id="@item.Id"><i class="bi bi-x-square"></i></a>
                                        </td>
                                    </tr>
                                    detacount++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
