@model (Blog dto,BlogDetail detaupdatedto ,List<Owner> owners, List<Blog> Blogs)

@{ int count = 1;  }

@* Blog *@
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog'u Yenilemek</h4>
                <form asp-action="Update" asp-controller="Blog" asp-area="AdminPanel" class="form-sample" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <input type="hidden" asp-for="dto.Id"/>
                                <label class="col-sm-3 col-form-label">Basliq Adi :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.dto.Title" type="text" class="form-control" placeholder="Basliq adini yazin..." />
                                    <span asp-validation-for="@Model.dto.Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Owner :</label>
                                <div class="col-sm-9">
                                    <select asp-for="@Model.dto.OwnerId" class="form-control" asp-items="@(new SelectList(Model.owners,"Id","Fullname"))" >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Foto :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.dto.Photo" class="form-control" >
                                    <span asp-validation-for="@Model.dto.Photo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="List" asp-controller="Blog" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@{
    if (Model.detaupdatedto != null)
    {
        <div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog Detallari</h4>
                <form asp-action="Update" asp-controller="BlogDetail" asp-area="AdminPanel" class="form-sample" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                            <input type="hidden" asp-for="@Model.detaupdatedto.BlogId" />
                            <input type="hidden" asp-for="@Model.detaupdatedto.Id" />
                                <label class="col-sm-3 col-form-label">Kateq. Adi :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.detaupdatedto.CategoryName" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.detaupdatedto.CategoryName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tags :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.detaupdatedto.Tags" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.detaupdatedto.Tags" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                            <div class="form-group row">
                                 <label class="col-sm-3 col-form-label">Haqqinda :</label>
                                <div class="col-sm-9">
                                    <input asp-for="@Model.detaupdatedto.Description" type="tel" class="form-control" />
                                    <span asp-validation-for="@Model.detaupdatedto.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="List" asp-controller="Blog" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
    }else
    {
        <div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mehsul Detallari</h4>
                <p>
                    Bu mehsulun detallari elave edilmeyib...
                </p>
            </div>
        </div>
    </div>
</div>
    }
}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog'a Baxis</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Basliq
                                </th>
                                <th>
                                    Foto
                                </th>
                                <th>
                                    Owner
                                </th>
                                <th>
                                    EDIT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var BlogDto in Model.Blogs.Take(5))
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @BlogDto.Title
                                    </td>
                                    <td class="py-1">
                                        <img src="~/AdminPanel/img/blog/@BlogDto.Image" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @BlogDto.Owner.Fullname
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Blog" asp-area="AdminPanel" asp-route-id="@BlogDto.Id"><i class="bi bi-card-list"></i></a>
                                        <a asp-action="Update" asp-controller="Blog" asp-area="AdminPanel" asp-route-id="@BlogDto.Id"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-action="Delete" asp-controller="Blog" asp-area="AdminPanel" asp-route-id="@BlogDto.Id"><i class="bi bi-x-square"></i></a>
                                    </td>
                                </tr>
                                count++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
