@model Paginate<Product>

@{
    ViewData["Title"] = "Products Page";
    int count = ((Model.CurrentPage - 1) * 10) + 1;
}

<link rel="stylesheet" href="~/MemberPanel/assets/sass/products.css">
<link rel="stylesheet" href="~/MemberPanel/assets/css/products.css">

<main>
    <section id="background-potatoes">
        <div class="background-potatoes">
            <div class="img">
                <img src="~/MemberPanel/assets/img/potatoes-background.jpeg" style="width: 100%;height: 100%;" alt="">

            </div>
            <div class="name">
                <p>Products</p>
                <span> <a href="./home.html"> <strong>Home</strong> </a> -->Shop </span>
            </div>



        </div>
    </section>

    <section id="favories">
        <div class="favories">
            <div class="container">
                <div class="row">


                    <div class="col-lg-12 col-sm-12">

                        @foreach (var product in Model.Datas.Take(1))
                        {
                            <div class="sale-off">
                                <p>@product.Category?.Name</p>
                            </div>
                        }

                        <div class="sort-by-product-count">
                            <div class="sortby">
                                <span>Sort By</span>
                                <button id="default">Default <i class="fas fa-angle-down" id="icon"></i></button>
                                <div class="sort-content">
                                    <a href="#">Default</a>
                                    <a asp-route-sort="@ViewBag.Name" asp-route-page="@Model.CurrentPage">Ad</a>
                                    <a asp-route-sort="@ViewBag.Price" asp-route-page="@Model.CurrentPage">Qiymet</a>
                                </div>
                            </div>

                            <div class="product-count">
                                <span style="color: rgba(0,0,0,1)">@ViewBag.Count</span> <span>Mehsullarin sayi</span>
                            </div>
                        </div>

                        <div class="products">
                            <div class="row">


                                @foreach (var product in Model.Datas)
                                {
                                    <div class="col-lg-3 col-sm-12" data-id="@product.Id">
                                        <div class="picture">
                                            <img src="~/AdminPanel/img/product/@product.Image" style="width: 100%;height: 100%;" alt="potatoes">
                                            <div class="icons">
                                                <div class="heart-icon">
                                                    <a asp-action="FavoriteAdd" asp-controller="Home" asp-route-id="@product.Id" ><i class="fas fa-heart"></i></a>
                                                </div>
                                                <div class="basket-icon">
                                                    <a asp-action="BasketAdd" asp-controller="Home" asp-route-id="@product.Id"> <i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                                <div class="detail-icon">
                                                    <a asp-action="ProductDetailsPage" asp-controller="Product" asp-route-id="@product.Id"> <i class="fas fa-info"></i></a>
                                                </div>
                                            </div>
                                            <div class="name">
                                                <a asp-action="ProductDetailsPage" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a>
                                            </div>
                                            <div class="price">
                                                $@product.Price
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>

                        <div class="row my-3 justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination ">
                                    <li class="page-item @(Model.HasPrevious ? "": "disabled")">
                                        <a class="page-link"  asp-action="ProductPage" asp-area=""
                                        asp-route-page="@(Model.CurrentPage-1)"
                                        asp-route-sort="@((string)TempData["sort"] != null? (string)TempData["sort"] : "")"
                                        >Evvelki</a>
                                    </li>
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        <li class="page-item @(i == Model.CurrentPage ? "disabled" : "")">
                                            <a class="page-link" asp-action="ProductPage" asp-area="" 
                                            asp-route-sort="@((string)TempData["sort"] != null? (string)TempData["sort"] : "")"
                                            asp-route-page="@i">@i</a>
                                        </li>
                                    }
                                    <li class="page-item @(Model.HasNext ? "": "disabled")">
                                        <a class="page-link" asp-action="ProductPage" asp-area=""
                                        asp-route-sort="@((string)TempData["sort"] != null? (string)TempData["sort"] : "")"
                                        asp-route-page="@(Model.CurrentPage+1)">Sonraki</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts {
    <script asp-append-version="true" src="~/MemberPanel/assets/js/shop.js"></script>

}